<!-- Modal -->
<div class="modal fade show d-block bg-half-black" id="staticBackdrop" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create Post</h5>
        <button @onclick="() => OnClickButtonClose.InvokeAsync()" type="button" class="btn-close" aria-label="Close"></button>
      </div>
      <EditForm Model="_postToCreate" OnValidSubmit="CreatePost">
        <div class="modal-body">
        <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
        <InputText @bind-Value="_postToCreate.Title" class="form-control" id="exampleInputEmail1"/>
  </div>
      </div>
      <div class="modal-footer">
        <button @onclick="() => OnClickButtonClose.InvokeAsync()" type= true"type="button" class="btn btn-secondary">Close</button>
        <button type="submit" class="btn btn-success">Create</button>
      </div>
      </EditForm>
    </div>
  </div>
</div>
@code {
  [Parameter]
  public EventCallback OnClickButtonClose { get; set; }
  private Post _postToCreate = new()
    {
      PostId = 0,
      Title = "Post title",
      Content = "Post content"
    };
  private void CreatePost()
  {
    Console.WriteLine("CreatePost");
  }
}